openapi: 3.0.3
info:
  title: Пятнашки - OpenAPI 3.0
  version: 1.0.0
servers:
  - url: https://charity.kulikov.uk/api/
tags:
  - name: gallery
    description: Все что связано с выбором и загрузкой картинки
  - name: slider
    description: Все что связано с самой игрой в пятнашки
paths:
  /gallery/image:
    post:
      tags:
        - gallery
      description: Загружает изображение на сервер
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageid:
                    type: string
                    format: int64
                    description: Image id
                    example: 11
        
        '400':
          description: Ошибка обработки картинки
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: "Сервер поддерживает только png"
      requestBody:
        description: Created user object
        content:
          image/png:
            schema:
              type: string
              format: binary
    get:
      tags:
        - gallery
      description: Можно получить картинку по id
      responses:
        '200':
          description: successful operation
          content:
            image/png:
              schema: 
                type: string
                format: binary
      parameters:
        - name: imageid
          in: query
          description: id изображения
          required: true
          schema:
            type: string
  /gallery/:
    get:
      tags:
        - gallery
      description: Массив id картинок с галлереи
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    imageid:
                      type: integer
                      format: int64
                      description: Image id
                      example: 11
  /slider/imagepart:
    get:
      tags:
        - slider
      description: Возращает соответсвующую часть изображения
      responses:
        '200':
          description: successful operation
          content:
            image/png:
              schema:
                type: string
                format: binary
      parameters:
        - name: imageid
          in: query
          description: id изображения
          required: true
          schema:
            type: integer
        - name: index
          in: query
          description: Индекс части изображения
          required: true
          schema:
            type: integer
        - name: dimension
          in: query
          description: Размерность сетки - 4 для 4x4 и так далее
          required: true
          schema:
            type: integer
